@model UpdateProductImageDto

@{
    ViewData["Title"] = "ProductImageDetail";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>Ürün Görselleri Güncelleme Sayfası</h4>
                <br />
                <div class="bs-example" data-example-id="bordered-table">

                    <form method="post">
                        <input type="hidden" asp-for="ProductImageId" />
                        <input type="hidden" asp-for="ProductId" />
                        <div class="col-md-12">
                            <fieldset class="form-group">
                                <label>Ürün Görseli - 1</label>
                                <input type="file" class="form-control" name="formFile" asp-for="ProductImage1" />
                            </fieldset>
                        </div>
                        <div class="col-md-12">
                            <fieldset class="form-group">
                                <label>Ürün Görseli - 2</label>
                                <input type="file" class="form-control" name="formFile" asp-for="ProductImage2" />
                            </fieldset>
                        </div>
                        <div class="col-md-12">
                            <fieldset class="form-group">
                                <label>Ürün Görseli - 3</label>
                                <input type="file" class="form-control" name="formFile" asp-for="ProductImage3" />
                            </fieldset>
                        </div>
                        <div class="col-md-12">
                            <fieldset class="form-group">
                                <label>Ürün Görseli - 4</label>
                                <input type="file" class="form-control" name="formFile" asp-for="ProductImage4" />
                            </fieldset>
                        </div>
                        <button class="btn btn-success">Ürün Görsellerini Güncelle</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>