@model List<ResultCategoryDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box p-3">
                <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px;">
                    <h4 style="margin: 0; font-weight: bold;" class="text-primary">Kategori Listesi</h4>
                    <a href="/Admin/Category/CreateCategory/" class="btn btn-primary btn-rounded">
                        Yeni Kategori Girişi
                    </a>
                </div>
                <div class="bs-example" data-example-id="hoverable-table">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Kategori Adı</th>
                                <th>Durumu</th>
                                <th>İşlemler</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                count++;
                                <tr>
                                    <th scope="row">@count</th>
                                    <td>@item.CategoryName</td>
                                    <td class="text-truncate tablesort-3">
                                        @if (item.Status)
                                        {
                                            <span class="lable-tag tag-success">Aktif</span>
                                        }
                                        else
                                        {
                                            <span class="lable-tag tag-unpaid">Pasif</span>
                                        }
                                    </td>
                                    <td>
                                        @if (item.Status)
                                        {
                                            <a href="/Admin/Category/ChangeStatus/@item.CategoryId" class="btn btn-sm btn-warning btn-rounded">Pasif Yap</a>
                                        }
                                        else
                                        {
                                            <a href="/Admin/Category/ChangeStatus/@item.CategoryId" class="btn btn-sm btn-success btn-rounded">Aktif Yap</a>
                                        }

                                        <a href="/Admin/Category/UpdateCategory/@item.CategoryId" class="btn btn-sm btn-info btn-rounded">Güncelle</a>
                                        <a href="/Admin/Category/DeleteCategory/@item.CategoryId" class="btn btn-sm btn-danger btn-rounded">Sil</a>

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <a href="/Admin/Category/CreateCategory/" class="btn btn-primary btn-rounded">Kategori Ekle</a>
                </div>
            </div>
        </div>
    </div>
</section>