@{
    ViewData["Title"] = "ProductGetAll";
    Layout = "~/Views/UILayout/_UILayout.cshtml";
}

<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-lg-3 col-md-4">

            @await Component.InvokeAsync("ProductListCategoryFilter", new { categoryId = Context.Request.Query["categoryId"].ToString() })

            @await Component.InvokeAsync("ProductListPriceFilter")

        </div>
        <div class="col-lg-9 col-md-8">
            <div class="row pb-3">

                @await Component.InvokeAsync("ProductListGetProductCount")

                @await Component.InvokeAsync("ProductListGetAll", new { sort = Context.Request.Query["sort"].ToString() })

                @await Component.InvokeAsync("ProductListPagination")

            </div>
        </div>
    </div>
</div>