@model UpdateCouponDto

@{
    ViewData["Title"] = "UpdateDiscount";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>Kupon Güncelleme Sayfası</h4>
                <br />
                <div class="bs-example" data-example-id="bordered-table">
                    <form method="post">
                        <input type="hidden" asp-for="CouponId" />
                        <input type="hidden" asp-for="CouponIsActive" />
                        <input type="hidden" asp-for="CouponValidDate" />
                        <label>Kupon Kodu</label>
                        <input type="text" class="form-control" asp-for="CouponCode" />
                        <br />
                        <label>Kupon Oranı</label>
                        <input type="text" class="form-control" asp-for="CouponRate" />
                        <br />
                        <button class="btn btn-primary">Kuponu Güncelle</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>