@model CreateProductDto

@{
    ViewData["Title"] = "CreateProduct";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>Ürün Ekleme Sayfası</h4>
                <br />
                <div class="bs-example" data-example-id="bordered-table">
                    <form method="post" enctype="multipart/form-data">
                        <div class="col-md-12">
                            <fieldset class="form-group">
                                <label>Ürün Adı</label>
                                <input type="text" class="form-control" asp-for="ProductName" />
                            </fieldset>
                        </div>
                        <div class="col-md-12">
                            <fieldset class="form-group">
                                <label>Ürün Fiyatı</label>
                                <input type="text" class="form-control" asp-for="ProductPrice" />
                            </fieldset>
                        </div>
                        <div class="col-md-12">
                            <fieldset class="form-group">
                                <label>Ürün Görseli</label>
                                <input type="file" class="form-control" name="formFile" />
                            </fieldset>
                        </div>
                        <div class="col-md-12">
                            <fieldset class="form-group">
                                <fieldset class="form-group">
                                    <label>Ürün Kategorisi</label>
                                    @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.categories, "Kategori Seçiniz", new { @class = "form-control", @id = "CategoryId" })
                                </fieldset>
                            </fieldset>
                        </div>
                        <div class="col-md-12">
                            <fieldset class="form-group">
                                <label>Alt Kategori Seçin</label>
                                <select asp-for="SubCategoryId" class="form-control" id="SubCategoryId">
                                    <option value="" selected>Lütfen Önce Kategori Seçin</option>
                                    @if (ViewBag.subCategories != null)
                                    {
                                        foreach (var item in (List<ResultSubCategoryDto>)ViewBag.subCategories)
                                        {
                                            <option value="@item.SubCategoryId" data-category-id="@item.CategoryId">
                                                @item.SubCategoryName
                                            </option>
                                        }
                                    }
                                </select>
                            </fieldset>
                        </div>
                        <div class="col-md-12">
                            <div class="card" style="margin-top:20px; background-color: #f9f9f9;">
                                <div class="card-body">
                                    <h5>Ürün Özellikleri</h5>
                                    <hr />
                                    <div id="dynamic-attributes-area" class="row">
                                        <p class="text-muted ml-3">Özellikleri görmek için lütfen bir kategori seçiniz.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <fieldset class="form-group">
                                <label>Ürün Açıklaması</label>
                                <textarea class="form-control" asp-for="ProductDescription" rows="5"></textarea>
                            </fieldset>
                        </div>
                        <button class="btn btn-primary btn-rounded">Ürünü Ekle</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        var $subCategorySelect = $('#SubCategoryId');
        var $allOptions = $subCategorySelect.find('option').clone();
        var $attributesArea = $('#dynamic-attributes-area'); // Özelliklerin ekleneceği div

        $('#CategoryId').change(function () {
            var selectedCategoryId = $(this).val();

            // 1. İşlem: Alt Kategorileri Filtrele (Senin mevcut kodun)
            $subCategorySelect.empty();
            $subCategorySelect.append('<option value="">Alt Kategori Seçiniz</option>');

            if (selectedCategoryId) {
                $allOptions.each(function () {
                    var optionCategoryId = $(this).data('category-id');
                    if (optionCategoryId == selectedCategoryId) {
                        $subCategorySelect.append($(this));
                    }
                });

                // 2. İşlem: Kategorinin Özelliklerini Getir (YENİ KOD)
                // Controller'daki GetAttributesByCategoryId metoduna istek atıyoruz
                $.ajax({
                    url: '/Admin/Product/GetAttributesByCategoryId/' + selectedCategoryId,
                    type: 'GET',
                    success: function (attributes) {
                        $attributesArea.empty(); // Eski inputları temizle

                        if (attributes && attributes.length > 0) {
                            // Gelen her özellik ismi için (örn: Beden, Renk) input oluştur
                            $.each(attributes, function (index, attributeName) {
                                    var html = `
                                    <div class="col-md-6 mb-3">
                                        <label class="font-weight-bold">${attributeName}</label>
                                        <input type="hidden" name="ProductAttributes[${index}].AttributeName" value="${attributeName}" />

                                        <input type="text"
                                               class="form-control"
                                               name="ProductAttributes[${index}].AttributeValue"
                                               placeholder="Örn: Kırmızı, Mavi, Siyah (Virgülle ayırın)"
                                               required />
                                        <small class="text-muted">Birden fazla seçenek için virgül kullanın.</small>
                                    </div>
                                `;
                                $attributesArea.append(html);
                            });
                        } else {
                            $attributesArea.html('<p class="text-muted ml-3">Bu kategori için özel bir alan tanımlanmamış.</p>');
                        }
                    },
                    error: function () {
                        console.log("Özellikler getirilirken hata oluştu.");
                    }
                });

            } else {
                // Kategori seçimi kaldırılırsa alanı temizle
                $attributesArea.html('<p class="text-muted ml-3">Lütfen kategori seçiniz.</p>');
            }
        });
    });
</script>