
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Exchange Rate : @ViewBag.exchangeRateUSD @ViewBag.exchangeRateEUR</title>
</head>
<body>
</body>
</html>
