@using System.Security.Claims

<header class="main-header dark-bg">
    <!-- Logo -->
    <a href="/Admin/Default/Index" class="logo dark-bg">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><img src="~/images/logos/mulhtishop1.jpg" style="width:50px;height:50px; important!" alt="Ovio"></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><img src="~/images/logos/mulhtishop1.jpg" style="width:200px;height:50px; important!" alt="Ovio"></span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button"> <span class="sr-only">Toggle navigation</span> </a>
        <div class="pull-left search-box">
            <form action="#" method="get" class="search-form">
                <div class="input-group">
                    <input type="text" name="search" class="form-control" placeholder="Aranacak kelimeyi giriniz">
                    <span class="input-group-btn">
                        <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i> </button>
                    </span>
                </div>
            </form>
            <!-- search form -->
        </div>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li class="dropdown messages-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-envelope"></i>
                        <div class="notify"><span class="badge"></span> </div>
                    </a>
                </li>
                <!-- messages-menu -->
                <!-- Notifications Menu -->
                <li class="dropdown notifications-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-megaphone"></i>
                        <div class="notify"><span class="point"></span></div>
                    </a>
                </li>
                <!-- Tasks Menu -->
                <!-- User Account Menu -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <img src="~/images/logos/manlogo.jpg" class="user-image" alt="User Image"> <span class="hidden-xs">@User.Identity.Name</span> </a>
                    <ul class="dropdown-menu">
                        <li class="user-header">
                            <div class="pull-left user-img"><img src="~/images/logos/manlogo.jpg" class="img-responsive" alt="User"></div>
                            <p class="text-left">
                                @User.Identity.Name <small> Admin</small>
                            </p>
                            <div class="view-link text-left"><a href="/Admin/Profile/Index">Profili Görüntüle</a> </div>
                        </li>
                        <li><a href="/Admin/Profile/Index"><i class="icon-profile-male"></i> Profilim</a></li>
                        <li><a href="/Admin/Contact/Index"><i class="icon-envelope"></i>Gelen Mesajlar</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/Admin/Login/Logout"><i class="fa fa-power-off"></i> Çıkış Yap</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>